.env
app.log

.idea/

.python-version

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/
.venv/
app/app.log
.DS_Store
src/browser_profile/Default/Cache/

src/browser/data/
src/browser_profile/
src/browser_profile

src/cli/data/
src/agents/data/

